.ctcl-add-cart{
    color:rgba(255,255,255,1);
    background-color:rgba(61,148,218,1);
    font-size: 16px!important;
    height:40px;
    padding:10px!important;
    width:150px;
    font-size:23px;
    text-transform:capitalize;
    text-decoration: none!important;

}

.ctcl-add-cart:active{
    color:rgba(255,255,255,0.9);
}
.ctcl-add-cart:hover{
    color:rgba(255,255,255,0.9);
}
.product-price{
    font-size:23px;
}
.ctcl-product-container{
   
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.product-price-container{
    font-size: 17px;
}

.ctcl-qty{
    width:100px!important;
    height:35px!important;
    display:inline-block;
}
.ctcl-quantity{
    height:40px;
}

.ctcl-quantity input{
    display:inline-block!important;
    margin-left:13px!important;
    margin-right:13px!important;
}
.ctcl-plus-qty,
.ctcl-minus-qty{
font-size:23px;
cursor:pointer;
}


.ctcl-checkout-item{
    width:100%!important;
    text-align:center;
    height:50px;
    margin-bottom:2px;
    border-bottom:1px dashed rgba(0,0,0,1);
    padding:5px;
}
.ctcl-checkout-item span{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width:100px;
    height:100%;
}
.ctcl-checkout-item-img-span img{
float:left;
    height:40px;
    width:40px;
    display:inline-block;
}
.ctcl-checkout-item-remove{
    text-align:right!important;
}
.ctcl-checkout-item-remove:before{
   vertical-align: middle;
   cursor:pointer;
}

.ctcl-address-row{
    width:100%;
}
.ctcl-address-row .ctcl-address-col{

    width:48%;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;

}

.ctcl-address-col .ctccl-co-zip{

    width:60%;
}

.ctcl_payment_option_row label{
    display:inline-block;

}
.ctcl_payment_container{
    display:none;
}

.ctcl-shipping-option-row label{
    display:inline-block;
}
.ctcl-checkout-button{
    margin-top:20px!important;

}