ctcl-shipping-tab-cintent,
.ctcl-payment-tab-content{
 height:100%;
}

ctcl-shipping-tab-fieldset-legend,
.ctcl-payment-tab-fieldset-legend{
   margin-top:30px;
   margin-bottom:30px;
}


.ctcl-shipping-tab-content form,
.ctcl-payment-tab-content form{

display:inline-block;


}
.ctcl-email-setting,
.ctcl-shipping-tab-content fieldset fieldset,
.ctcl-payment-tab-content fieldset fieldset{
   border:1px dashed rgba(0,0,0,1);
   margin-top:30px!important;
}
.ctcl-smtp-email-setting{
   margin-top:-15px;
}
#ctcl-email-subject{
   width:300px;
   max-width:100%;
}
.ctcl-email-setting{
   width:500px!important;
   max-width:78%;
   padding:20px;
   margin:25px;
}
.ctcl-email-setting-row{
   margin:10px;
   vertical-align:middle;
   line-height:2;
}

.ctcl-email-setting-row label{
   width:200px;
   max-width:100%;
 
}
.ctcl-email-setting-row span{
  width:300px;
  max-width:90%;
  float:right;
}
.ctcl-email-setting-row input,
.ctcl-email-setting-row  select{
   height:35px;
   max-height:100%;
   min-height:35px;
}
.ctcl-test-email-row{
   margin-top:10px;
}
#ctcl-smtp-port,
#ctcl-smtp-encryption{
   width:100px;
   max-width:100%;
}
#ctcl-smtp-bcc-email,
#ctcl-smtp-from-email{
   width:200px;
   max-width:100%;
}
#ctcl-test-email{
   width:200px;
   max-width:50%;
   height:35px;
   min-height:35px;
}
.ctcl-email-setting legend{
   text-align:center;
   font-weight:bold;
}
.ctc-smtp-email-setting{
   margin-top:20px;
}

.ctcl-shipping-tab-content,
.ctcl-payment-tab-content{
   margin-right:15px;
   padding:0px!important;
}

.ctcl-shipping-tab-content .ctcl-shipping-tab-fieldset,
.ctcl-payment-tab-content .ctcl-payment-tab-fieldset{
  margin-top:20px;
   margin-left:auto;
  margin-right:auto;
  display:block;
  opacity:0;
}
.ctcl-payment-tab-content .ctcl-shipping-tab-fieldset fieldset div.ctcl-content-display,
.ctcl-payment-tab-content .ctcl-payment-tab-fieldset fieldset div.ctcl-content-display{
   padding:15px;
}

.ctcl-shipping-tab-fieldset fieldset legend,
.ctcl-payment-tab-content fieldset legend{
   text-align:center;
}
.ctcl-shipping-tab-fieldset-legend,
.ctcl-payment-tab-fieldset-legend{
   text-align:left!important;
   margin-top:20px!important;
}
.ctcl-shipping-tab-fieldset div,
.ctcl-payment-tab-content div {
   display:block;
}
.ctcl-shipping-tab-fieldset div label,
.ctcl-payment-tab-content div label{
   float:left;
   width:46%;
   font-weight: bold;
   line-height: 2;
}

.ctcl-shipping-tab-fieldset div span,
.ctcl-payment-tab-content div span{
   float:right;
   width:53%;
}
.ctcl-form-submit-button {
   
   margin:15px;
}
.ctcl-shipping-tab-content .ctcl-form-submit-button{

   margin-top:70px;
}
.ctcl-shipping-tab-content label{
   margin-left:5px;
}
.ctcl-shipping-tab-fieldset .ctcl-basic-business-settings{
   padding:10px;
   max-width:100%!important;

}
.ctcl-form-submit-button input{
   display:inline-block;
   margin-bottom:10px!important;
}
#ctcl-tax-rate{
   width:55px;
}

.ctcl-business-setting-row{
   line-height: 2;
   margin-bottom:10px;
   vertical-align: middle;
   height:30px;
}
.ctcl-business-setting-row i{
   font-size:7px;
}
.ctcl-business-setting-row textarea{
   width:400px;
   height:100px;
   max-width:100%;
}
.ctcl-business-setting-row h4{
   text-align:center;
   width:100%;
}
#ctcl-store-pickup-zip-code{
   width:100px;
   max-width:100%;
}
#ctcl-store-pickup-street1,
#ctcl-store-pickup-street2{
   width:200px;
   max-width: 100%;
}
.ctcl-shipping-tab-fieldset-legend:before,
.ctcl-email-tab-fieldset-legend:before,
.ctcl-payment-tab-fieldset-legend:before{
animation: rotateSettingButton 3s linear infinite;
}

@keyframes rotateSettingButton{
   from{transform: rotate(0deg);}
   to{transform: rotate(360deg);}
}


table.ctcl-complete-orders,
table.ctcl-pending-orders{
   margin-left:-9px!important;
   text-align:center!important;
}
td.ctcl-complete-order-head,
td.ctcl-pending-order-head{
   text-align:center!important;
}
table.ctcl-pending-orders td{
   vertical-align: middle;
}

.ctcl-complete-special-instruct,
.ctcl-pending-special-instruct{
   text-align:left;
}


.page-numbers {
       display: inline-block;
       padding: 5px 10px;
       margin: 0 2px 0 0;
       border: 1px solid #eee;
       line-height: 1;
       text-decoration: none;
       border-radius: 2px;
       font-weight: 600;
   }
   .page-numbers.current,
   a.page-numbers:hover {
       background: #f9f9f9;
   }
   .ctcl-complete-orders-fieldset legend,
.ctcl-pending-orders-fieldset > legend{
  padding-top:10px;
   margin-bottom:10px;

}

   /*
   *Pending orders and complete orders modal styling
   */
   .ctcl-order-detail-main-cont{
      height:750;
      margin-top:20px;
   }

   .ctcl-pending-order-detail{
      padding:10px;
   }
   
   .ctcl-orderdetail-legend{
      font-weight:bold;
   }
   fieldset.pending-customer-info,
   fieldset.ctcl-order-list{
      width:400px;
      border:1px dashed rgba(0,0,0,1);
      max-width:100%;
   }
   
   .ctcl-vendor-note-legend,
   .ctcl-cust-info-legend,
   .ctcl-orderdetail-legend,
   .ctcl-shipping-options-legend{
   font-weight:bold;
   margin-bottom:10px;
}
   
   
   .ctcl-order-list-header{
      width:100%;
      display:block;
   }
   
   
   .ctcl-ordered-item{
      width:100%;
   margin-top:5px;
   padding-top:15px;
   margin-bottom:5px;
   border-top:1px dashed rgba(0,0,0,1);
   height:35px;
   vertical-align: middle!important;
     
   }
   .ctcl-order-list-header span,
   .ctcl-ordered-item span{
 
      display:table-cell;
      text-align:center;
      max-width:33%;
      
   }
   .ctcl-order-detail-sub-total span:first-child,
   .ctcl-order-detail-shipping span:first-child{
   
      width:400px;
      font-weight: bold;
      max-width: 80%;
      float:left;
      text-align:right!important;

      
   
   }
   .ctcl-order-detail-sub-total span:last-child,
   .ctcl-order-detail-shipping span:last-child{
      margin-left:5px;
      width:95px;
      float:right;
      font-weight:bold;
      text-align:left;
      max-width:20%;
   }
   .ctcl-complete-order-detail > fieldset,
   .ctcl-pending-order-detail > fieldset{
      display:inline-block;
      border:1px dashed rgba(0,0,0,1);
      box-shadow: 2px 2px 15px rgba(0,0,0,0.2);

   }

   .ctcl-complete-order-detail .ctcl-vendor-note .ctcl-vendor-note-submit,
   .ctcl-pending-order-detail .ctcl-vendor-note .ctcl-vendor-note-submit{
      display:block;
   }

   #ctcl-print-cust-info,
   #ctcl-print-order-list{
      text-decoration: none;
      float:left;
   }
   .pending-order-modal-action{
      display:block;
      height:40px;
      vertical-align: middle;
    
   }
   .pending-order-modal-action input:first-child,
   .pending-order-modal-action input:last-child{
      float:right;
      
   }
   .pending-order-modal-action input:first-child{
      margin-right:10px;
   }
   .pending-order-modal-action input:last-child{
      margin-right:30px;
   }

   .ctcl-order-detail-main-cont-legend{
      font-weight:bold;
   }
   .ctcl-order-status-note{
      
   }
   .ctcl-vendor-note-submit{
      margin-left:25px!important;
      margin-bottom:10px!important;
      margin-top:10px!important;
   }

   .ctcl-order-list-header-name,
   .ctcl-ordered-item-name{
 width:175px;
   }

   .ctcl-order-list-header-var,
   .ctcl-ordered-item-var{
 width:175px;
   }
   .ctcl-order-list-header-qty,
   .ctcl-ordered-item-qty{
      width:50px;

   }
   .ctcl-order-list-header-total,
   .ctcl-ordered-item-total{

      width:100px;

   }

   #ctcl-print-order-list,
   #ctcl-print-cust-info{
      margin-left:10px;
      margin-bottom:10px;
   }